.facade-residence {
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;

  width: 100%;
  min-height: 100vh;

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  &__wrap-img {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
}

.facade-residence_parallax {
  background-attachment: fixed;
}

.description-residence {
  background-color: #ffffff;
  padding: 99px 0 120px;

  .proposal {
    p {
      margin-bottom: 0;
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    max-width: 705px;
    font-size: 32px;
    text-align: center;
    color: #194A21;
    margin-bottom: 124px;

    p {
      margin-bottom: 32px;
    }

    .strong {
      font-weight: 900;
    }
  }

  &__wrap-img {
    max-width: 242px;
    margin-bottom: 32px;
  }
}

@include respond-to($lg) {
  .description-residence__text {
    margin-bottom: 100px;
  }
  .facade-residence_parallax {
    background-attachment: scroll;

  }
  .facade-residence .overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
}

@include respond-to($md) {
  .facade-residence {
    display: flex;
    flex-direction: column;
    min-height: 0;

    .overlay {
      display: none;
    }

    .facade-residence__text.mob-hide {
      display: none;
    }

    &__text {
      position: static;
      transform: none;
      order: -1;
    }

    &__wrap-img {
      position: relative;
      margin-bottom: 40px;
    }

    .text_lg {
      font-size: 28px;
      line-height: 1.5;
      color: #194A21;
      margin-bottom: 40px;
    }
  }
  .facade-residence_parallax {
    padding-top: 66%;
    min-height: 328px;

  }
  .description-residence {
    padding: 90px 0;

    &__text {
      font-size: 20px;
      margin-bottom: 74px;

      p {
        margin-bottom: 18px;
      }
    }

    &__wrap-img {
      max-width: 188px;
    }
  }
}

@include respond-to($sm) {
  .facade-residence {
    min-height: 328px;

    &__wrap-img {
      margin-bottom: 20px;
    }

    .text_lg {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .description-residence {
    padding: 50px 0;
  }
}

@include respond-to($xs) {
  .facade-residence .text_lg {
    font-size: 24px;

    br {
      display: none;
    }
  }
}

@media screen and (max-width: 380px){
  .facade-residence_parallax,
  .facade-residence{
    min-height: 100%;
  }
}