.benefits {

  &__img-banner {
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section__header {
    min-height: 496px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 156px;
  }

  .section__title {
    margin-bottom: 97px;
  }

  &-list {
    margin-top: -11.25%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;

    .col {
      padding: 5px;
    }

    .col-12 {
      width: 100%;
      position: relative;

      .benefits-list__wrap-img {
        padding-top: 56.9%;
      }

      .benefits-caption,
      .label {
        position: absolute;
        left: 50%;
        max-width: 504px;
        width: 100%;
        z-index: 2;
      }

      .label {
        bottom: 0;
        font-size: 32px;
        background-color: #ffffff;
        text-align: center;
        padding: 24px;
        transform: translate(-50%, 50%);
      }

      .benefits-caption {
        padding: 37px 15px;
        top: 0;
        transform: translate(-50%, -50%);
      }
    }

    .col-4 {
      width: 33.33%;
    }

    &__wrap-img {
      position: relative;
      padding-top: 67.4%;
      overflow: hidden;

      &.overlay-bg {
        &:before {
          z-index: 0;
        }
      }
    }

    &__img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .8s;
    }

    &__item:hover {
      .benefits-list__img {
        transform: scale(1.1);
        transition: transform .8s;
      }
    }
  }

  &-caption {
    width: 100%;
    padding: 25px 15px;
    background-color: #ffffff;
    font-size: 32px;
    line-height: 1.06;
    text-align: center;
  }

}

.benefits-location {
  &__card {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    &:nth-child(even) {
      .benefits-location__wrap-thumb {
        order: 1;

        &:before {
          left: auto;
          right: 0;
        }
      }

      .benefits-location__description {
        padding-left: 0;
        padding-right: 35px;
      }
    }
  }

  &__wrap-thumb {
    position: relative;
    width: 76%;
    padding-top: 31.2%;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 11px;
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(189.85deg, #EEC65F -8.6%, #A76F2A 3.48%, #E2B855 14.37%, #F9F2B7 26.81%, #E2B855 41.66%, #8F5E21 75.74%, #E2B855 92.6%);
      z-index: 2;
    }
  }

  &__bg-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__description {
    padding-left: 35px;
    font-size: 32px;
    flex-grow: 1;
  }

  .title {
    margin-bottom: 7px;
  }
}

@include respond-to($laptop-md) {
  .benefits-list .col-12 .label,
  .benefits-caption {
    font-size: 28px;
  }
}

@include respond-to($laptop) {
  .benefits-location {
    &__description {
      font-size: 28px;
    }
  }
}

@include respond-to($lg) {
  .benefits {
    .section__header {
      min-height: 396px;
    }
  }
  .benefits-location {
    &__wrap-thumb {
      width: 70%;
      padding-top: 29.2%;
    }

    &__description {
      font-size: 22px;
    }
  }

  .benefits-list .col-12 .label,
  .benefits-list .col-12 .benefits-caption {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 420px;
    font-size: 24px;
  }
}

@include respond-to($md) {
  .benefits {
    &__img-banner {
      padding-top: 66%;
      min-height: 328px;
    }
  }
  .benefits-list {
    width: 80%;
    margin: -10% auto 75px;

    &__wrap-img {
      &.overlay-bg {
        &:before {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.125) 57%, rgba(0, 0, 0, 0.5) 100%);
          z-index: 1;
        }
      }
    }

    .col-4 {
      position: relative;
      width: 100%;

      .benefits-caption {
        position: absolute;
        color: #ffffff;
        background-color: transparent;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
      }
    }

    .col-12 .label,
    .col-12 .benefits-caption {
      max-width: 320px;
    }
  }
  .benefits-location {
    &__card {
      flex-wrap: wrap;
      margin-bottom: 50px;

      &:nth-child(even) .benefits-location__description {
        order: 1;
        padding: 15px 15px 15px 40px;
      }
    }

    &__description {
      padding: 15px 15px 15px 40px;
    }

    &__wrap-thumb {
      width: 100%;
      padding-top: 41%;
    }
  }
}

@include respond-to($sm) {
  .benefits {
    margin-bottom: 10px;

    .section__header {
      padding-top: 106px;
      min-height: 400px;

    }
  }
  .benefits-list {
    width: 100%;
    padding: 0 25px;
    margin-top: -33%;
    margin-bottom: 54px;

    &__wrap-img {
      padding-top: 79%;
    }

    .col-12 .label,
    .col-12 .benefits-caption {
      max-width: 230px;
      font-size: 20px;
    }

    .col-12 .label {
      padding-top: 10px;
      padding-bottom: 11px;
    }

    .col-12 .benefits-caption {
      padding-top: 12px;
      padding-bottom: 13px;
    }

    .col-12 {
      .benefits-list__wrap-img {
        padding-top: 66.25%;
      }
    }

    .col-4 .benefits-caption {
      font-size: 24px;
    }
  }
  .benefits-location {
    margin: 0 -15px;

    &__card {
      margin-bottom: 25px;
    }

    &__description {
      line-height: 1.15;
    }
  }
}

@media screen and (max-width: 420px) {
  .benefits {
    .section__header {
      min-height: 328px;
    }
  }
}

