.contacts {
  padding-top: 85px;
  font-size: 24px;

  &__left {
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .section__footer {
    margin-top: 65px;
  }

  .section__header {
    margin-bottom: 110px;
  }

  .form {
    &__row {
      display: flex;
      margin: 0 -6px 12px;
    }

    &__col {
      padding: 0 6px;

      &_12 {
        width: 100%;
      }

      &_6 {
        width: 50%;
      }
    }

    .btn_main {
      display: block;
      min-width: 237px;
      max-width: none;
      width: auto;
      margin: 36px auto 0;
    }
  }

  &__row {
    display: flex;
  }

  &__right {
    width: 50%;
    max-width: 460px;
    flex-shrink: 0;
    padding-left: 40px;
    min-width: 0;
  }

  &__left {
    width: 50%;
    flex-grow: 1;
  }

  .section__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;

    > .gradient-text {
      background: linear-gradient(268.18deg, #EEC65F -2.08%, #A76F2A 10.1%, #E2B855 21.09%, #F9F2B7 33.63%, #E2B855 48.61%, #8F5E21 82.97%, #E2B855 99.98%)
    }
  }

  .logo {
    display: inline-block;
    max-width: 234px;
  }

  .address {
    text-align: right;
  }

  .link-phone {
    margin-bottom: 30px;
  }
}

@include respond-to($laptop-md){
  .contacts__left{
    padding-top: 41.5%;
    background-size: cover;
  }
}

@include respond-to($lg) {
  .contacts {
    padding-top: 85px;
    font-size: 20px;
  }
  .section__footer {
    .logo {
      max-width: 200px;
    }
  }
  .contacts__left {
    background-size: 110% 110%;
  }
}

@include respond-to($md) {

  .contacts {
    font-size: 17px;

    .section__header {
      margin-bottom: 80px;
    }

    .section__footer {
      .logo {
        max-width: 135px;
      }
    }

    .link-phone {
      margin-bottom: 20px;
    }

    &__row {
      flex-wrap: wrap;
    }

    &__left {
      display: none;
    }

    &__right {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
    }
  }
}

@include respond-to($sm) {
  .contacts {
    .section__footer {
      margin-top: 106px;
      padding-bottom: 60px;
      flex-direction: column;
      align-items: center;
      font-size: 24px;

      .logo {
        max-width: 234px;
        margin-bottom: 45px;
      }
    }

    .link-phone {
      margin-bottom: 45px;
    }

    .address {
      text-align: center;
    }

    .form {
      .mob-hide {
        display: none;
      }

      .btn_main {
        min-width: 252px;
      }

      &__row {
        flex-wrap: wrap;
        margin-bottom: 15px;

        .form__col_6:first-child {
          margin-bottom: 15px;
        }
      }

      &__col_6 {
        width: 100%;
      }
    }
  }
}