.design {
  &__img-banner {
    min-height: 312px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 37.5%;
  }

  .section__header {
    min-height: 489px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
  }

  .gallery-room {
    width: 100%;
    max-width: 1426px;
    margin: 0 auto;

    .subtitle {
      font-size: 32px;
      line-height: 1.187;
      margin-bottom: 60px;
      color: #194a21;
      text-align: center;
    }
  }

  .gallery_top {
    position: relative;
    margin-top: -15%;
  }
}

@include respond-to($lg) {
  .design {
    .gallery_top {
      margin-top: -25%;
    }
  }
}

@include respond-to($md) {
  .design {
    .section__header {
      padding-top: 105px;
    }

    &__img-banner {
      min-height: 312px;
    }

    .gallery_top {
      position: relative;
      margin-top: -60%;
    }

    .gallery-room {
      width: 60%;

      .subtitle {
        span{
          display: inline-block;
        }
        margin: 0 auto 62px;
      }
    }
  }
}

@include respond-to($sm) {
  .design {
    .gallery-room {
      width: 90%;
    }
  }
}

@include respond-to($xs) {
  .design{
    .section__header{
      min-height: 380px;
    }
  }
}