.features{
  position: relative;
 .section__bg{
   padding-top: 135px;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
 }
  .section__header{
    margin-bottom: 68px;
  }
}

@include respond-to($sm){
  .features {
    .section__bg {
      padding-top: 106px;
      background-size: cover;
      background-position: 0;
    }
    .card__text-content{
      order: 1;
    }
  }
}