.residence-plan {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    color: #194A21;
    font-size: 32px;
    line-height: 1.28;
  }

  &__content,
  &__wrap-img {
    width: 50%;
  }

  &__wrap-img {
    padding-left: 50px;
    img{
      transition: transform .8s;
    }
    img:hover{
      transform: scale(1.01);
      transition: transform .8s;
    }
  }

  &__logo {
    display: block;
    width: 273px;
    margin-bottom: 45px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__desc {
    margin-bottom: 65px;

    li {
      position: relative;
      padding-left: 46px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: .5em;
        left: 16px;
        background-color: #194A21;
        border-radius: 50%;
        overflow: hidden;
        width: 11px;
        height: 11px;
        z-index: 1;
      }
    }
  }

  &__btn {
    margin-top: auto;
    margin-left: 20px;
  }
}

@include respond-to($lg) {
  .residence-plan {
    &__content {
      font-size: 28px;
    }

    &__logo {
      max-width: 240px;
    }
  }
}

@include respond-to($md) {
  .residence-plan {
    position: relative;
    padding-top: 184px;

    &__logo {
      position: absolute;
      max-width: 234px;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }

    &__content,
    &__wrap-img {
      width: 100%;
    }

    &__content {
      font-size: 24px;
      order: 1;
    }

    &__wrap-img {
      max-width: 410px;
      padding: 0 25px;
      margin: 0 auto 40px;
    }

    &__desc li {
      padding-left: 38px;

      &:before {
        left: 14px;
      }
    }

    &__btn {
      margin: 0 auto;
    }
  }
}