.btn {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  line-height: 1;

  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 20px;
  padding: 3px;
  max-width: 366px;
  color: #ffce5a;
  text-align: center;


  &_full-width {
    max-width: 100%;
  }

  &_main {
    position: relative;
    overflow: hidden;
    width: 100%;
    //transition: transform .35s;
    &.transparent {
      .btn-inner {
        background-image: none;

      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(269.83deg, #EEC65F -33.35%, #A76F2A -9.64%, #E2B855 11.74%, #F9F2B7 36.15%, #E2B855 65.29%, #8F5E21 132.17%, #E2B855 165.27%);
      clip-path: polygon(0% 0%, 0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%);
      z-index: 1;
      transition: .6s;
    }

    .btn-inner {
      position: relative;
      display: block;
      padding: 15px 22px 19px;
      line-height: 1.5;
      width: 100%;
      height: 100%;
      background-image: url(../assets/img/bg-btn.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      transition: .6s;
    }
    &:hover,
    &:focus{
      transform: scale(1.05);
      transition: transform .35s;

    }
  }
  @include respond-to($sm){
    &_main{
      max-width: 252px;
    }
  }
}




