.card-list {
  margin-bottom: 250px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    left: -50vw;
    right: -50vw;
    height: 100px;
    bottom: -50px;
    background-color: #fff;
    z-index: 2;
  }
}

.card {
  position: relative;
  z-index: 3;
  margin-bottom: 46px;
  display: flex;
  align-items: flex-end;
  color: #194a21;
  font-weight: 300;
  font-size: 24px;


  &__thumb {

    position: relative;
    max-width: 593px;
    width: 55%;
    flex-grow: 1;
    padding-top: 27.25%;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      background: linear-gradient(189.85deg, #EEC65F -8.6%, #A76F2A 3.48%, #E2B855 14.37%, #F9F2B7 26.81%, #E2B855 41.66%, #8F5E21 75.74%, #E2B855 92.6%);

    }

    &:before {
      top: 0;
      bottom: 0;
      right: -16px;
      width: 16px;
      z-index: 1;
    }

    &:after {
      height: 3px;
      left: 100%;
      right: -100vw;
      bottom: 50px;
      z-index: 0;
    }
  }

  &__img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

  }

  &__text-content {
    position: relative;
    max-width: 478px;
    width: 45%;
    padding-bottom: 80px;
    padding-right: 45px;
    flex-grow: 1;

    &:after {
      position: absolute;
      content: '';
      display: block;
      background: linear-gradient(189.85deg, #EEC65F -8.6%, #A76F2A 3.48%, #E2B855 14.37%, #F9F2B7 26.81%, #E2B855 41.66%, #8F5E21 75.74%, #E2B855 92.6%);
      right: 16px;
      height: 3px;
      bottom: 50px;
      left: -100vw;
      z-index: 0;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #194a21;
  }
}