.gallery {
  width: 100%;
  display: flex;

  &__item {
    width: 25%;
    padding: 0 8px;
  }

  &__link {
    width: 100%;
    display: inline-block;
    padding-top: 73.3%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(189.85deg, #EEC65F -8.6%, #A76F2A 3.48%, #E2B855 14.37%, #F9F2B7 26.81%, #E2B855 41.66%, #8F5E21 75.74%, #E2B855 92.6%);
      clip-path: polygon(0% 0%, 0% 100%, 6px 100%, 6px 6px, calc(100% - 6px) 6px, calc(100% - 6px) calc(100% - 6px), 6px calc(100% - 6px), 6px 100%, 100% 100%, 100% 0%);
      opacity: 0;
      transition: opacity .5s;

    }

    &:hover:before {
      opacity: 1;
    }
  }

  &_top {
    margin-bottom: 65px;

  }
}

.baguetteBox-button {
  background-color: transparent;
  &:hover,
  &:focus{
    background-color: transparent;
  }
  &#close-button {
    &:before {
      width: 30px;
      height: 30px;
      background: url(../assets/img/svg/close.svg) center center no-repeat;
    }
  }

  &#next-button,
  &#previous-button {
    width: 40px;
    height: 40px;

    &:before {
      width: 40px;
      height: 40px;
      background: url(../assets/img/svg/arrow-left-gold.svg) center center no-repeat;
    }
  }

  &#close-button,
  &#next-button,
  &#previous-button {
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-size: 100% auto;
      z-index: 1;
    }
  }
  &#next-button{
    transform: rotate(180deg);
  }

  svg {
    display: none;
  }
}

@include respond-to($laptop) {
  .design .gallery-room {
    width: 80%;
  }
  .gallery {
    flex-wrap: wrap;

    &__item {
      width: 50%;
      margin-bottom: 8px;
    }
  }
}

@include respond-to($md) {
  .gallery {
    &__item {
      width: 100%;
      margin-bottom: 16px;
    }

    &_top {
      margin-bottom: 62px;
    }

  }
}