.fl-modal {

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  transition: opacity 1s;
  max-height: 100%;
  overflow-y: auto;
  z-index: 1000;
  height: 740px;
  opacity: 0;
  visibility: hidden;

  .container {
    position: relative;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__back,
  &__close {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    width: 54px;
    height: 54px;
    z-index: 1;
  }

  &__close {
    right: 20px;
    background: url("../assets/img/svg/close-gold.svg") center center no-repeat;
    background-size: 100% auto;
  }

  &__back {
    left: 20px;
    background: url("../assets/img/svg/arrow-left-gold.svg") center center no-repeat;
    background-size: 100% auto;
  }
}

.floor-modal {
  padding: 58px 0 60px;

  .modal-header {
    margin-bottom: 45px;
  }

  .modal-title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 1.2;
    color: #194A21;
    text-align: center;
    font-weight: 400;
  }


  .content-part {
    width: 50%;
  }

  .svg-wrap {
    position: relative;
    max-width: 726px;
    width: 100%;

    .scheme-tab__img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
    }

  }

  .fl-btns_mob,
  .fl-btns_desk {
    display: block;
    width: 100%;
    height: auto;
  }

  .fl-btns_mob {
    display: none;
  }

  .apartment-circle {
    cursor: pointer;
    fill: #ffffff;

    &.disabled {
      pointer-events: none;
      cursor: none;
      filter: grayscale(1);

      .sold {
        display: block;
      }

      .number {
        display: none;
      }

      .stroke-green {
        stroke: transparent;
      }

      .stroke-gray {
        display: block;
        opacity: 1;
      }
    }

    .sold {
      display: none;
    }

    .number {
      display: block;
    }

    .stroke-gray {
      display: none;
      opacity: 0;
    }

    .stroke-green {
      stroke-width: 2px;
    }

    .icon-hover {
      display: none;
    }

    &:hover {
      .icon-hover {
        display: block;
      }

      .stroke-green {
        stroke: transparent;
      }
    }
  }

  .scheme-tabs {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__link {
      text-decoration: none;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      justify-content: center;
      width: 48px;
      height: 48px;
      margin: 0 0 20px;
      color: #194A21;
      opacity: .5;
      border: 2px solid #194A21;
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      flex-shrink: 0;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }
}

.apartment-content {
  display: flex;

  .content-part_left {
    width: 70%;
  }

  .content-part_right {
    width: 30%;
  }

  .app-img {
    max-width: 680px;

    height: auto;
    margin: 0 auto;

    .img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .apartment-desc {
    width: 100%;
    max-width: 365px;
    margin: 0 auto;
  }

  .btn-download {
    margin-top: 65px;
    text-align: center;
  }
}

.scheme-modal {
  padding-top: 120px;

  .fl-modal__content {
    display: flex;
    align-items: center;
  }

  .modal-header {

    width: 20%;
    margin-bottom: 0;

    .modal-title {
      text-align: left;
    }
  }

  .scheme-tabs__content {
    width: 80%;
  }

  .fl-modal__close {
    top: -80px;
    right: 0;
  }
}


.apartment-desc {
  font-size: 20px;
  line-height: 1.2;

  &__props {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;

    .text-lg {
      margin-top: 7px;
      font-size: 32px;
    }
  }

  &__separator {
    margin: 0 25px;
    height: 57px;
    width: 1px;
    background-color: #194A21;
  }

}

.manager-info {
  display: flex;
  align-items: center;
  margin-top: 50px;

  &__tel-btn {
    width: 48px;
    height: 48px;
    display: block;
    background: url("../assets/img/svg/phone-gold.svg") center center no-repeat;
    background-size: 100% auto;
    margin-left: auto;
  }

  &__thumb {
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 25px;
  }
}


.contacts-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1014px;
  padding: 0;
  background-color: transparent;
  .fl-modal__close {
    z-index: 2;
    right: 25px;
    top: 25px;
  }

  .modal-title {
    margin-bottom: 80px;
  }

  .info-expert {
    position: relative;
    z-index: 1;
  }

  &__content {
    display: flex;
    text-align: center;
    height: 100%;
  }

  &__part {
    width: 54%;

    &.img-wrap {
      width: 46%;
      position: relative;
      overflow: hidden;
      color: #ffffff;
      font-size: 28px;
      padding-bottom: 40px;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 72.54%);
        z-index: 1;
      }

      .activity {
        font-size: 20px;
      }

      .name {
        font-weight: 700;
      }
    }
  }


  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__bg {
    background: url(../assets/img/modal-bg.png) center center no-repeat;
    background-size: cover;
    padding: 98px 37px;
  }

  .form__col {
    margin-bottom: 12px;
  }

  .btn_main {
    margin-top: 25px;
  }
}

@include respond-to($laptop) {
  .apartment-content .app-img {
    max-width: 620px;
  }
  .apartment-desc__props .text-lg {
    font-size: 28px;
  }
}

@include respond-to($lg) {
  .scheme-tabs__content .scheme-tab {
    display: flex;
    align-items: center;
  }

  .scheme-modal .fl-modal__close {
    top: -10px;
    right: 30px;
  }
  .floor-modal {
    height: auto;

    .scheme-tabs {
      flex-direction: row;

      &__link {
        margin: 0 23px;
      }
    }

    .svg-wrap {
      margin: 0 auto;
    }

    .content-part {
      width: 100%;
    }

    .apartment-content {
      flex-wrap: wrap;

      .btn-download {
        margin-top: 50px;
      }

      .app-img {
        max-width: 354px;
        width: 100%;
        margin-bottom: 50px;
      }
    }

    .modal-header {
      margin-bottom: 52px;
    }

    .fl-btns_desk {
      display: none;
    }

    .fl-btns_mob {
      display: block;
    }

    .svg-wrap {
      max-width: 350px;
      padding: 20px 20px 40px;
      width: 100%;
    }

    .fl-btns_mob {
      width: 100%;
      height: auto;
    }
  }

  .manager-info {
    padding: 0;
  }

  .plan-popover {
    display: none !important
  }
  .scheme-modal {
    padding-top: 80px;

    .fl-modal__content {
      flex-direction: column;
    }

    .modal-header,
    .scheme-tabs__content {
      width: 100%;
    }

    .modal-header {

      .modal-title {
        text-align: center;
      }
    }
  }
  .contacts-modal {
    height: 75%;
  }
}

@include respond-to($md) {
  .contacts-modal {
    overflow-y: initial;

    .form-contacts{
      max-width: 540px;
      margin: 0 auto;
    }
    &__content {
      flex-wrap: wrap;

    }

    &__part {
      width: 100%;

    }

    .img-wrap {
      display: none;
    }
  }
}

@include respond-to($sm) {
  .floor-modal {
    padding-top: 32px;

  }
  .fl-modal__back,
  .fl-modal__close {
    width: 48px;
    height: 48px;
    top: -8px;
  }
  .fl-modal__back {
    left: 16px;
  }
  .fl-modal__close {
    right: 16px;
  }
  .contacts-modal {
    .fl-modal__close {
      top: -25px;
      right: 13px;
    }

    &__part {
      padding: 82px 37px 100px;
    }
  }
  .floor-modal {
    .apartment-content {
      .apartment-desc {
        display: flex;
        flex-direction: column;
      }

      .btn-download {
        margin: 62px auto 0;
      }
    }

    .manager-info__contacts {
      font-size: 18px;
    }
  }
  .contacts-modal {
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .contacts-modal {
    width: 90%;
    max-width: 380px;
    max-height: 550px;

    .modal-title {
      margin-bottom: 60px;
      font-weight: 700;
    }

    &__part {

      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

@media screen and (max-width: 380px) {
  .floor-modal {
    .scheme-tabs__link {
      margin: 0 10px;
    }
  }
  .contacts-modal {
    max-height: 510px;

    .modal-title {
      font-size: 28px;
      margin-bottom: 40px;
    }
  }
  .manager-info__thumb {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .floor-modal .manager-info__contacts {
    font-size: 17px;
  }
  .floor-modal .modal-title {
    font-size: 26px;
  }
  .apartment-desc__separator {
    margin: 0 15px;
  }
  .apartment-desc__props {
    font-size: 17px;
  }
  .fl-modal__back,
  .fl-modal__close {
    width: 33px;
    height: 33px;
    top: -2px;
  }
  .scheme-tabs__content {
    min-height: 400px;
  }
  .contacts-modal {
    .fl-modal__close {
      top: -16px;
    }
  }
  .scheme-modal .fl-modal__close {
    top: -4px;
  }
}