.fl-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
  max-height: 100%;
  overflow-y: auto;
  z-index: 1000;
  height: 690px;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
  }

  &__back,
  &__close {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 40px;
    width: 54px;
    height: 54px;
    background-size: 100% auto;
    z-index: 1;
  }

  &__close {
    right: 65px;
    background: url("../assets/img/svg/close-gold.svg") center center no-repeat;
  }

  &__back {
    left: 65px;
    background: url("../assets/img/svg/arrow-left-gold.svg") center center no-repeat;
  }
}


.floor-modal {
  padding: 55px 0 60px;

  .modal-header {
    margin-bottom: 45px;
  }

  .modal-title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 1.2;
    color: #194A21;
    text-align: center;
    font-weight: 400;
  }

  .apartment-content {
    display: flex;
    flex-wrap: wrap;

    .app-img {
      //max-width: 278px;
      //height: auto;
      //margin: 0 auto;
      display: flex;
      align-items: center;

      .img {
        display: block;
        //width: 100%;
        height: auto;
        width: auto;
        margin: 0 auto;
      }
    }

    .apartment-desc {
      width: 100%;
      max-width: 365px;
      margin: 0 auto;
    }

    .btn-download {
      margin-top: 65px;
      text-align: center;
    }
  }

  .content-part {
    width: 50%;
  }

  .svg-wrap {
    width: 600px;
    margin: 0 auto;
  }

  .apartment-circle {
    cursor: pointer;
  }

  .scheme-tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
      text-decoration: none;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      margin: 0 23px;
      color: #194A21;
      opacity: .5;
      border: 2px solid #194A21;
      -webkit-transition: opacity .5s;
      transition: opacity .5s;

      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }
}

.apartment-desc {
  font-size: 20px;
  line-height: 1.2;

  &__props {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;

    .text-lg {
      margin-top: 7px;
      font-size: 32px;
    }
  }

  &__separator {
    margin: 0 25px;
    height: 57px;
    width: 1px;
    background-color: #194A21;
  }

}

.manager-info {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: 50px;

  &__tel-btn {
    width: 48px;
    height: 48px;
    display: block;
    background: url("../assets/img/svg/phone-gold.svg") center center no-repeat;
    background-size: 100% auto;
    margin-left: auto;
  }

  &__thumb {
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 25px;
  }
}


.contacts-modal {
  padding: 0;
  .fl-modal__close{
    z-index: 2;
    right: 25px;
    top: 25px;
  }
  .modal-title {
    margin-bottom: 80px;
  }

  .info-expert {
    position: relative;
    z-index: 1;
  }

  &__content {
    display: flex;
    text-align: center;
    height: 100%;
  }

  &__part {
    width: 50%;

    &.img-wrap {
      position: relative;
      overflow: hidden;
      color: #ffffff;
      font-size: 28px;
      padding-bottom: 110px;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 72.54%);
        z-index: 1;
      }

      .activity {
        font-size: 20px;
      }
    }
  }


  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__bg {
    background: url(../assets/img/modal-bg.png) center center no-repeat;
    background-size: cover;
    padding: 130px 80px 133px 54px;
  }

  .form__col {
    margin-bottom: 12px;
  }

  .btn_main {
    margin-top: 25px;
  }
}