
$main-font: 'Avenir LT Std', sans-serif;
$secondary-font: 'Avenir LT Std Book', sans-serif;
$decor-font: 'Cinzel Decorative', cursive;
// Screen Variables


//$xs: '(max-width: 580px)';
$sm: '(max-width: 576px)';
$md: '(max-width: 768px)';
$lg: '(max-width: 992px)';
$laptop: '(max-width: 1240px)';
$laptop-md:'(max-width: 1440px)';





