body {
  font: 400 16px/1.2 $main-font;
  background-color: #ffffff;
  color: #194a21;
}

.wrapper {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.danger-text {
  color: #ff0000;
}
.strong{
  font-weight: 900;
}
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.overlay-bg {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.golden-line {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    background: linear-gradient(268.21deg, #EEC65F 7.36%, #A76F2A 18.96%, #E2B855 29.43%, #F9F2B7 41.39%, #E2B855 55.66%, #8F5E21 88.41%, #E2B855 104.63%);
    z-index: 1;
  }
}

.summary {
  &__wrap-logo {
    max-width: 273px;
  }

  &__row {
    display: flex;
    position: relative;
  }

  &__col-left {
    width: 35%;
    padding-left: 18px;
    padding-top: 51px;
  }

  &__col-right {
    width: 65%;
    position: relative;
    padding-top: 42%;
    flex-grow: 1;
  }

  &__wrap-img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 65vw;

    height: 100%;
    width: 65vw;
  }
  &__img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  &__caption{
    position: absolute;
    max-width: 622px;
    padding: 12px 37px 4px;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 48px;
    text-align: right;
    bottom: 104px;
    left:-23px;
  }
}

.section {
  margin-bottom: 250px;
  &__header {
    text-align: center;
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.dynamic-content {
  p {
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2 {

  }

  h3 {

  }

  h4 {

  }

  ul {

  }

  ul li {
  }
}

@include respond-to($laptop-md){
  .summary__caption{
    font-size: 40px;
  }
}

@include respond-to($sm){
  .section{
    margin-bottom: 50px;
    &__title{
      font-size: 32px;
    }
  }
}


