body {
  font: 400 16px/1.2 $main-font;
  background-color: #ffffff;
  color: #194a21;

  &.modal-open {
    overflow: hidden;
    height: 100%;
  }
}

.wrapper {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.danger-text {
  color: #ff0000;
}

.strong {
  font-weight: 900;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.overlay-bg {
  &:before {
    position: absolute;
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}

.golden-line {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    background: linear-gradient(268.21deg, #EEC65F 7.36%, #A76F2A 18.96%, #E2B855 29.43%, #F9F2B7 41.39%, #E2B855 55.66%, #8F5E21 88.41%, #E2B855 104.63%);
    z-index: 1;
  }
}

.summary {
  &__wrap-logo {
    max-width: 273px;
    margin-bottom: 41px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col-left {
    width: 35%;
    padding-left: 18px;
    padding-top: 51px;
  }

  &__col-right {
    width: 65%;
    position: relative;
    padding-top: 42%;
    flex-grow: 1;
  }

  &__wrap-img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 65vw;
    padding-top: 65%;
    height: 100%;
    width: 65vw;
    z-index: -1;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__caption {
    max-width: 160%;
    width: 100vw;
    padding: 12px 37px 4px 0;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 48px;

    span {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

.section {
  margin-bottom: 250px;

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.dynamic-content {
  p {
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2 {

  }

  h3 {

  }

  h4 {

  }

  ul {

  }

  ul li {
  }
}

@include respond-to($laptop-md) {
  .summary__caption {
    font-size: 40px;

    span {
      margin-left: 46px;
    }
  }
}

@include respond-to($laptop) {
  .summary__caption {
    font-size: 38px;

    span {
      margin-left: 28px;
    }
  }
}

@include respond-to($lg) {
  .section {
    margin-bottom: 100px;
  }
  .summary {
    &__row {
      position: relative;
      padding-top: 180px;
    }

    &__wrap-logo {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    &__col-left,
    &__col-right {
      width: 100%;
    }

    &__col-right {
      padding-top: 65%;
    }

    &__col-left {
      order: 1;
      padding: 0;
    }

    &__wrap-img {
      right: 0;
      width: 100%;
    }

    &__caption {
      max-width: 80%;
      margin: -36px auto 0;
      text-align: center;
      padding: 16px 30px;
    }
  }
}

@include respond-to($md) {
  .section {
    margin-bottom: 50px;
    &__title {
      font-size: 34px;
    }
  }
  .summary {
    &__caption {
      font-size: 28px;
    }
  }
}

@include respond-to($sm) {

}


