.facade-residence {
  &.active {
    .fade-in {
      animation: fadeIn .8s ease-in .8s both;
    }

    .fade {
      animation: fade .2s linear .8s both;
    }
  }
}

.card {
  &.active {
    .slideInLeft {
      transition: 1s;
      animation: slideInLeft linear .8s forwards;
    }

    .slideInRight {
      transition: 1s;
      animation: slideInRight linear .8s forwards;
    }
  }
}

.fade-in {
  opacity: 0;
  display: inline-block;
  transition: .35s;
}

.fade {
  opacity: 0;
  transition: .35s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.slideInRight {
  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      animation-delay: #{$i * 1000}s;
    }
  }
}

.slideInLeft {
  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      animation-delay: #{$i * 2000}s;
    }
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0%);
  }
}