.facade-residence {
  &.active {
    .fade-in {
      animation: fadeIn .8s ease-in .8s both;
    }

    .fade {
      animation: fade .2s linear .8s both;
    }
  }
}

.header {
  opacity: 0;
  transform: translateY(-30px);

  &.active {
    opacity: 1;
    transform: translateY(0);
    transition: 2s;
    transition-delay: 1.85s;
  }
}

.section-banner {
  .text-slide-in {
    transform: translateY(50px);
  }

  .btn_scroll{
    transform: scale(.95);
    opacity: 0;
  }
  .section-banner__logo,
  .decor-text {
    opacity: 0;
  }

  .text-slide-in {
    opacity: 0;
  }

  &.active {
    .decor-text,
    .section-banner__logo {
      opacity: 1;
      transition: 2.5s;
      transition-delay: .3s;
    }

    .text-slide-in {
      opacity: 1;
      transform: translateY(0);
      transition: 2s;
      transition-delay: 1.1s;
          }

    .btn_scroll {
      opacity: 1;
      transition: 2.5s;
      transition-delay: 1.85s;
      transform: scale(1);
    }
  }
}

.fade-in {
  opacity: 0;
  display: inline-block;
  transition: .35s;
}

.fade {
  opacity: 0;
  transition: .35s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
