
.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;

  @include respond-to($laptop-md) {
    max-width: 1140px;
  }

  @include respond-to($laptop) {
    max-width: 1040px;
  }
  @include respond-to($lg) {
    max-width: 820px;
  }
  @include respond-to($md){
    max-width: 620px;
  }
  @include respond-to($sm){
    max-width: 520px;
    padding: 0 15px;
  }
}
