.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  padding-top: 37px;
  padding-bottom: 10px;
  z-index: 999;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right-bar {
    position: relative;

    &.open-bar {
      .right-bar__btn {
        .right-bar__link-icon.icon_open {
          background-image: url(../assets/img/svg/close-round.svg);
          transition: .8s;
        }
      }
    }

    &__content {
      display: none;

      position: absolute;
      color: #ffffff;
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      min-width: 150px;
      justify-content: center;
      flex-direction: column;
      padding: 29px 0;
      top: 48px;
      left: 0;
    }

    &__btn {
      background-color: transparent;
      border: none;
      padding: 0;

    }

    &__link {
      display: inline-flex;
      align-items: center;
      margin-bottom: 29px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link-icon {
      display: inline-block;
      width: 48px;
      height: 48px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 16px;

      &.icon_open {
        background-image: url(../assets/img/svg/phone-gold.svg);
        transition: .8s;
      }

      &.icon_phone {
        background-image: url(../assets/img/svg/phone.svg);
      }

      &.icon_chat {
        background-image: url(../assets/img/svg/chat.svg);
      }
    }

  }

  &__link {
    display: inline-block;
  }

  &__nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 292px;
    background-color: #1b382c;
    transition: transform .8s;
    transform: translateX(-100%);
    padding: 190px 26px 110px;
    overflow-y: auto;
    z-index: 999;

    &.open {
      transform: translateX(0);
    }
  }

  .btn_close,
  .btn_burger {
    display: block;
    appearance: none;
    border-radius: 0;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 40px;
      height: 40px;
      left: 0;
      top: 0;
    }
  }

  .btn_burger {
    position: relative;
  }

  .btn_burger:before {
    background-image: url(../assets/img/svg/menu.svg);
  }

  .btn_close {
    position: absolute;
    right: 52px;
    top: 44px;

    &:before {
      background-image: url(../assets/img/svg/close.svg);
    }
  }
}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .8;
  z-index: 500;
}

@include respond-to($sm) {
  .header {
    &__nav {
      max-width: 100%;
      text-align: center;
    }
  }
}
